<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie do bazy filmow</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<form action="http://localhost:8080/dodaj">
    <table>
        <tr>
            <td>Podaj tytul </td>
            <td><input name="tytul"></td>
        </tr>
        <tr>
            <td>Podaj gatunek</td>
            <td> <input name="gatunek"> </td>
        </tr>
        <tr>
            <td>    Podaj rezysera</td>
            <td><input name="rezyser"></td>
        </tr>
        <tr>
            <td>     Podaj scenarzyste    </td>
            <td><input name="scenarzysta"></td>
        </tr>
        <tr>
            <td>     Podaj opis </td>
            <td><input name="opis"></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit"></td>
    </table>
</form>
</body>
</html>
